.infinite-scroll-component{
    display: grid;
    padding: 2.5em;
    grid-template-columns: repeat(1,1fr);
    gap: 3em;
    justify-items: center;
    align-items: center;
    width: 100%;
}
#post-container{
    margin-inline: auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infinite-scroll-component__outerdiv{
    width: 100%;
    align-self: center;
}